# OS
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# compiled
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc

# package
*.apk
*.iso
*.ipa
*.war

# xcode
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
xcuserdata

# eclipse
.classpath
.project
.settings

# idea
.idea
.gradle
out

#android
bin
gen
*.ap_
*.dex

# logs
*.log

# RoR
.bundle
db/*.sqlite3
log/*.log
tmp/

# .Net & Visual Studio
_ReSharper.*
*.resharper
*.resharper.user
*.csproj.user

# Me lel
dist